<div>
  <form id="post-order-controls">
    <span id="post-order-controls-label">Order by:</span>
    <div class="radio-button-group">
      <input type="radio" id="post-date" name="option" value="datePublished" checked>
      <label for="post-date">Post Date</label>
      <input type="radio" id="modified-date" name="option" value="dateModified">
      <label for="modified-date">Modified Date</label>
    </div>
  </form>

<ul class="post-list" id="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d %Y" -%}
    {%- for post in include.posts -%}
      {%- if page.category == nil or post.path contains page.category -%}
        <li>
          <span class="post-meta">
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ post.date | date: date_format }}
            </time>
            {%- if post.modified_date -%}
              {% assign postDateInSecs = post.date | date: "%s" | minus: 0 %}
              {% assign modDateInSecs = post.modified_date | date: "%s" | minus: 0 %}
              {%- if modDateInSecs > postDateInSecs -%}
                {%- assign mdate = post.modified_date | date_to_xmlschema -%}
                &nbsp;(mod.&nbsp;<time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">{{ mdate | date: date_format }}</time>)
              {%- endif -%}
            {%- endif -%}
            {%- if post.show_revisions and post.revision_count -%}
              <span class="revision-metadata">&nbsp;&#9670;&nbsp;{{post.revision_count}} revisions</span>
            {%- endif -%}
          </span>
          <div class="post-title-link-container">
            <h3 class="post-title-link">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h3>
          </div>
          <p class="post-tag">
            {%- for tag in post.tags -%}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a class="post-tag-link" href="/vbook/tags/{{ tag_name }}">#{{ tag_name }}</a>
            {%- endfor -%}
          </p>
          {%- if site.show_excerpts -%}
            <div>
              {{ post.excerpt }}
            </div>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
</ul>
</div>