<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in include.posts -%}
      {%- if page.category == nil or post.path contains page.category -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <div>
            <h3 class="post-title-link">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <span class="post-category">{{ post.category }}</span>
          </div>
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              {{ post.excerpt }}
            </div>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endfor -%}
</ul>