<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer h-card">
      <data class="u-url" href="{{ "/" | relative_url }}"></data>

      <div class="wrapper">
        <div class="footer-col-wrapper">
          <p><a href="{{site.baseurl}}{% post_url /2024-01-17-what %}">What is this site?</a></p>
        </div>
      </div>

    </footer>

    {% if page.layout == "post" %}
      <script src="{{ site.baseurl }}/assets/js/post.js"></script>
    {% endif %}

  </body>

</html>
