---
layout: base
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.subtitle -%}
    <em><h3 class="post-subtitle">{{ page.subtitle }}</h3></em>
    {%- endif -%}
    {%- if page.subsubtitle -%}
    <h4 class="post-subtitle">{{ page.subsubtitle }}</h4>
    {%- endif -%}
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>

    <span>
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/vbook/tags/{{ tag_name }}">#{{ tag_name }}</a>
        {% endfor %}
    </span>

    {%- assign backlinks = page.url | backlink -%}
    {%- if backlinks -%}
      &mdash; <span>{{ backlinks }}</span>
    {%- endif -%}

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {%- if page.note -%}
      <hr />
      <h6 class="post-note">{{ page.note }}</h6>
    {%- endif -%}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>